Q1). Write a lambda function that takes an integer 'year' and returns 'age'.

In [2]:
from datetime import datetime

current_year = datetime.now().year
age = lambda year: datetime.now().year - year

print(age(1994))

32

Q2) Write a lambda function that takes a float "cost" and returns a float "price" by adding 10% to the cost.

In [4]:
price = lambda cost: cost + cost * 1.10

print(price(250))

525.0

Q3) Write a lambda function that takes two strings 'name' , 'domain' and returns an email address (string).

In [5]:
email = lambda name, domain: name + "@" + domain

print(email("khinchaw", "gmail.com"))

khinchaw@gmail.com

Q4) Lambda in Data Science/Data Analysis

In [16]:
import pandas as pd

df = pd.read_csv("/content/sample_data/rentals.csv")

# Q4.1) Create a new column called "size" where each entry is
# determined by the number of bathrooms: 'large' if the number of bathrooms is greater than 3, and 'small' otherwise.

df['size'] = df['bathrooms'].apply(lambda x: 'large' if x > 3 else 'small')


# -----------------------------------------------------------------#
# Q4.2) Creat a new column called "price_category" where
# Assign each entry as the following categories based on the price:
# If the price is greater than 100, the category should be 'premium'.
# Otherwise, the category should be 'standard'.

df['price'] = pd.to_numeric(df['price'], errors='coerce')
df['price_category'] = df['price'].apply(lambda x: 'premium' if x > 100 else "standard")

# -----------------------------------------------------------------#
# Do not change the code below:
# Print the first five rows to see the data. You should have 11 columns

print(f"DataFrame has {df.shape[1]} columns")
df.head()

DataFrame has 11 columns

,id,latitude,longitude,property_type,room_type,bathrooms,bedrooms,minimum_nights,price,size,price_category
0,958,37.76931,-122.43386,Apartment,Entire home/apt,1.0,1.0,1,NaN,small,standard
1,3850,37.75402,-122.45805,House,Private room,1.0,1.0,1,NaN,small,standard
2,5858,37.74511,-122.42102,Apartment,Entire home/apt,1.0,2.0,30,NaN,small,standard
3,7918,37.76669,-122.45250,Apartment,Private room,4.0,1.0,32,NaN,large,standard
4,8142,37.76487,-122.45183,Apartment,Private room,4.0,1.0,32,NaN,large,standard