Exercises are taken from : https://www.brianheinold.net/python/A_Practical_Introduction_to_Python_Programming_Heinold.pdf

Ex 1: Write a function called rectangle that takes two integers m and n as arguments and prints
out an m× n box consisting of asterisks. Shown below is the output of rectangle(2,4)
****
****

In [2]:
def rectangle(m,n):
    for k in range(m):
        print(n*'*')

rectangle(2,4)

****
****

Ex 2: Write a function that takes an integer n and returns a random integer with exactly n digits. For
instance, if n is 3, then 125 and 593 would be valid return values, but 093 would not because
that is really 93, which is a two-digit number.

In [4]:
import random
def calcualte_numbers ( n ):
    result = random.randint(10**(n-1) , 10**(n)-1)


    return result

calcualte_numbers(4)

6752

Ex 3: Write a function called number_of_factors that takes an integer and returns how many
factors the number has.

In [5]:
def number_of_factors(n):
    count = 0
    for i in range(1, n + 1):
        if n % i == 0:
            count += 1
    return count

number_of_factors(5)

2

Ex4: Write a function called first_diff that is given two strings and returns the first location in
which the strings differ. If the strings are identical, it should return -1.Ignore the case in your function. It means h and H are the same.

In [6]:
def first_diff(s1, s2):
    s1 = s1.lower()
    s2 = s2.lower()

    min_len = len(s1) if len(s1) < len(s2) else len(s2)

    for i in range(min_len):
        if s1[i] != s2[i]:
            return i

    if len(s1) != len(s2):
        return min_len
    return -1

print(first_diff("he", "she"))
print(first_diff("he", "her"))
print(first_diff("apple", "apply"))
print(first_diff("APPLE", "apple"))
print(first_diff("Hello", "hello"))

0
2
4
-1
-1

Ex5: Write a function called root that is given a number x and an integer n and returns x/n. In
the function definition, set the default value of n to 2.

In [7]:
def root(x, n=2):
    return x / n

print(root(10))
print(root(10, 5))
print(root(20))

5.0
2.0
10.0

Ex6: Write a function that solves the system of equations ax + by = e and cx +dy = f. Your function should takes 6 parameters, (a, b, c, d, e,f) and return the values of x and y.

In [9]:
def solve_system(a, b, c, d, e, f):
    # Compute the determinant
    det = a * d - b * c

    if det == 0:
        print("The system has no unique solution.")
        return None  # or raise an error

    # Use Cramer's rule to solve
    x = (e * d - b * f) / det
    y = (a * f - e * c) / det

    return x, y

# Example usage
x, y = solve_system(2, 3, 1, 2, 8, 5)
print("x =", x)
print("y =", y)

x = 1.0
y = 2.0

Ex7:  Write a function called change_case that given a string, returns a string with each upper  case letter replaced by a lower case letter and vice-versa

In [13]:
def change_case(s):
    new_str = ""
    for char in s:
        if char.isupper():
            new_str += char.lower()
        elif char.islower():
            new_str += char.upper()
        else:
            new_str += char
    return new_str

In [14]:
print(change_case("Python Programming"))

pYTHON pROGRAMMING

Ex8:  Write a function called primes that is given a number n and returns a list of the first n  primes. Let the default value of n be 100.

In [16]:
def primes(n=100):

  if n <= 0:
    return []

  prime_list = []

  number = 2
  while len(prime_list) < n:

    is_prime = True

    for prime in prime_list:
      if number % prime == 0:
        is_prime = False
        break

    if is_prime:
      prime_list.append(number)

    number += 1

  return prime_list

In [17]:
first_10_primes = primes(10)
print(first_10_primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

Ex9: A Tic-tac-toe board can be represented be a 3×3 two-dimensional list, where zeroes stand for  empty cells, ones stand for X’s and twos stand for O’s. Write a function that is given such a list and randomly chooses a spot in which to place  a 2 (O). The spot chosen must currently be empty and a spot must be chosen.

In [18]:
import random

def place_O(board):
    empty_positions = []
    for i in range(3):
        for j in range(3):
            if board[i][j] == 0:
                empty_positions.append((i, j))

    if not empty_positions:
        print("No empty spots available!")
        return

    row, col = random.choice(empty_positions)
    board[row][col] = 2
    print(f"Placed O at position ({row}, {col})")

board = [
    [1, 0, 2],
    [0, 1, 0],
    [0, 0, 1]
]

place_O(board)
for row in board:
    print(row)

Placed O at position (1, 2)
[1, 0, 2]
[0, 1, 2]
[0, 0, 1]

Ex10:  Write a function that is given a 9 × 9 potentially solved Sudoku and returns True if it is solved correctly and False if there is a mistake. The Sudoku is correctly solved if there are
 no repeated numbers in any row or any column or in any of the nine “blocks.”

In [19]:
def is_sudoku_solved(board):
    # Check rows
    for row in board:
        if sorted(row) != list(range(1, 10)):
            return False

    # Check columns
    for col in range(9):
        column = [board[row][col] for row in range(9)]
        if sorted(column) != list(range(1, 10)):
            return False

    # Check 3x3 blocks
    for block_row in range(0, 9, 3):
        for block_col in range(0, 9, 3):
            block = []
            for i in range(3):
                for j in range(3):
                    block.append(board[block_row + i][block_col + j])
            if sorted(block) != list(range(1, 10)):
                return False

    return True

In [21]:
sudoku_board = [
    [5,3,4,6,7,8,9,1,2],
    [6,7,2,1,9,5,3,4,8],
    [1,9,8,3,4,2,5,6,7],
    [8,5,9,7,6,1,4,2,3],
    [4,2,6,8,5,3,7,9,1],
    [7,1,3,9,2,4,8,5,6],
    [9,6,1,5,3,7,2,8,4],
    [2,8,7,4,1,9,6,3,5],
    [3,4,5,2,8,6,1,7,9]
]

print(is_sudoku_solved(sudoku_board))  # Output: True

True